*{
    box-sizing: border-box;
}
section {
    display: -webkit-flex;
    display: flex;
  }
  

  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #fff; 
    padding-bottom: 90px;
    
  }
  nav ul li a{
    text-decoration: none;
    color: #002B5B;
    
  }
  nav ul li{
    list-style-type: none;
    padding-bottom: 10px;
    margin: 10px 10px 10px 10px ;
    font-size: 20px;
    padding-bottom: 30px;
  }
  nav ul li h3{
    border-bottom: 1px outset rgba(48, 45, 45, 0.586);
    border-bottom-width: medium;
   font-size: 20px;
   text-align: justify;
   padding-bottom: 10px;
   border-spacing: 5px;
   margin-left: 5px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   letter-spacing: 1px;
   text-align: center;
   font-weight: bolder;
  }
  #h3{
    margin-right: 95px;
  }

  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    
    padding: 10px;
  }
  .logout{
    margin-bottom: 30px;
  }
  article h3{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bolder;
    color: #2B4865;
    margin-top: 10px;
    
  }


  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
      font-size: 10px;
    }
  }